APScheduler==3.7.0
aiofiles
aiohttp
aiosqlite>=0.16.0,<0.18.0
asyncio
bs4
dnspython
emoji==1.6.0
ffmpeg-python
flask
gitpython
git+https://github.com/Itz-fork/py-extract.git
git+https://github.com/Itz-fork/py-trans.git
git+https://github.com/yt-dlp/yt-dlp.git
googlesearch-python== 1.0.1
googletrans
gpytranslate
gtts
gunicorn
heroku3
httpx
httpx[https2]
humanize
lottie
motor
numpy
openai
Pillow
prettytable
psycopg2-binary
pyaes==1.6.1
pykeyboard
pymediainfo
pymongo
pyrogram
pyromod
pysocks==1.7.1
pytgcalls==3.0.0.dev22
python-dotenv
pytube
psutil
reportlab
requests
schedule
SpeechRecognition
speedtest-cli==2.1.3
sqlalchemy==1.3.23
svglib
telegraph
textblob
tgcrypto
tracemoepy
opencv-python-headless
ubotlibs
urllib3
uvloop
uwuify
wget
youtube-search
youtube-search-python
